* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.bianco {
    background: #fff;
    transition: 0.3s;
}

.nero {
    background: #323232;
    transition: 0.3s;
}

.icone_nere {
    color: #323232;
    transition: 0.3s;
}

.icone_bianche {
    color: #fff;
    transition: 0.3s;
}

.box-dark .fas {
    cursor: pointer;
}

.box-coordinate {
    display: flex;
}

.box-coordinate p {
    margin: 0 50px;
    top: 20px;
}

.box-coordinate img {
    display: none;
}

.input-box .inp_box {
    height: 55px;
    width: 300px;
}

